.nav-container {
    width: 100%;
    background-color: #fff;
    color: #2222;
    border: 2px solid aliceblue;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: flex-end;
}

.nav-buttons-container{
    background-color: #fff;
    
}

.nav-buttons {
    background-color: #2222;
    color: aliceblue;
    border: 1px solid #2222;
    width: 15vh;
}

.nav-buttons:hover{
    background-color: #2222;
    color: aliceblue;
    border: 1px solid #2222;
    width: 15vh;
}

