.nav-container {
    width: 100%;
    background-color: #fff;
    color: #000;
    border-bottom: 2px solid #fff;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.nav-buttons-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.nav-button {
    background-color: transparent;
    color: #000;
    border: none;
    cursor: pointer;
    margin: 1vh;
    width: 15vh;
    height: 40px; 
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #000;
    color:#fff;
    border: none;
    cursor: pointer;
    width: 15vh;
    height: 40px; 
    transition: background-color 0.3s ease;
}

.cards-container {
    display: flex; 
    justify-content: space-between; 
    background-color: #000;
    border: 1px solid #000;
    flex-direction: row;
}

h1{
    margin: 1vh;
    color: #fff;
}

.card {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: #000;
    background-image: linear-gradient(144deg,#fff, #222 50%,#000);
    align-items: center;
    margin: 2vh;
  }
  
  .card__content {
    background: #fff;
    border-radius: 17px;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
  }

  .dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    margin-left: 8vh;
    border: 2px solid #fff;
}
