.nav-container {
    width: 100%;
    background-color: #fff;
    color: #000;
    border-bottom: 2px solid #fff;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.nav-buttons-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.nav-button {
    background-color: transparent;
    color: #000;
    border: none;
    cursor: pointer;
    margin: 1vh;
    width: 15vh;
    height: 40px; 
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #000;
    color:#fff;
    border: none;
    cursor: pointer;
    width: 15vh;
    height: 40px; 
    transition: background-color 0.3s ease;
}

.cards-container {
    display: flex; 
    justify-content: space-between; 
    background-color: #000;
    border: 1px solid #000;
    flex-direction: row;
}

h1{
    margin: 1vh;
    color: #fff;
}

.card {
    width: 220px;
    height: 260px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(144deg, #fff, #222 50%, #000);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2vh;
    color: white;
    text-align: center;
}

.card__content {
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: transparent;
    margin: 5px;
}

.card__content:hover {
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: #fff;
    margin: 5px;
}

.card__content span {
    color: #222;
    margin:1px;
}

.card__content a {
    color: white;
    text-decoration: none;
    margin-top:1%;
}

p{
    font-size: 15px;
    padding: 0;
}

.dashboard-container {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120%;
    background-color: #000;
    border: 2px solid #fff;
}
