.div-container{
  display: flex;
  align-items: center;
  border: 2px solid  blue;
  background-color: red;
  color: aqua;
  width: 100vh;
  height: 100vh;
}

h1{
  font-size: 4.5rem;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  font-family: Playfair Display, serif;
}

.proyecto-post{
  background-color: aliceblue;
}